/* ----------반응형 테블릿------------- */
@media screen and (max-width: 1279px) {
  .profile {
    max-width: 100%;
    width: 100%;
    padding: 25px;
    transition: all 0.3s;
  }

  .introduction {
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-rows: minmax(200px, 280px) 1fr;
    padding: 22px 20px;
    display: grid;
    gap: 20px;
    transition: all 0.3s;
  }

  .myname {
    font-size: 55px;
    font-weight: 800;
    transition: all 0.3s;
    padding-top: 28px;
  }

  .job-mbti-container {
    margin: 15px 0;
    transition: all 0.3s;
  }

  .frontend-wrap {
    font-size: 14px;
    transition: all 0.3s;
  }

  .mbti-wrap {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
  }

  .profile-mid {
    grid-template-columns: 1fr;
    transition: all 0.3s;
  }

  .introduce p {
    margin: 15px 0 32px 0;
    font-size: 17px;
    transition: all 0.3s;
  }

  .timeline,
  .timeline-second {
    display: flex;
    transition: all 0.3s;
  }

  .timeline-second {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .timeline-items,
  .timeline-items-second {
    flex: 1;
  }

  .skills-wrap {
    display: flex;
    gap: 60px;
  }

  .profile-bottom {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    transition: all 0.3s;
  }

  .hobbies {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.3s;
  }

  .hobbies-list img {
    width: 60px;
    height: 60px;
    transition: all 0.3s;
  }

  .contact {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transition: all 0.3s;
  }

  .education {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    transition: all 0.3s;
  }
}

/* -------------반응형 핸드폰-------------- */
@media screen and (max-width: 768px) {
  .profile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 36px 31px;
    transition: all 0.3s;
  }

  .myname-container {
    display: contents;
    transition: all 0.3s;
  }

  .myname-wrap {
    order: 1;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
  }

  .myname {
    font-size: 30px;
  }

  .myname::after {
    width: 18px;
    height: 48px;
  }

  .my-profile {
    order: 2;
    transition: all 0.3s;
  }

  .job-mbti-container {
    order: 3;
    display: flex;
    gap: 30px;
    transition: all 0.3s;
  }

  .frontend-wrap {
    font-size: 12px;
    white-space: nowrap;
  }

  .mbti-wrap {
    font-size: 13px;
    white-space: nowrap;
  }

  .introduce {
    order: 4;
    transition: all 0.3s;
  }

  .introduce p {
    font-size: 12px;
  }

  .profile-mid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .timeline {
    display: grid;
  }

  .timeline-items {
    display: grid;
    grid-template-columns: 115px 1fr;
  }

  .experience-container,
  .skills-container {
    padding: 15px;
  }

  .career-title {
    font-size: 15px;
  }

  .career-desc {
    font-size: 12px;
  }

  .timeline-period {
    font-size: 12px;
    padding: 5px 10px;
  }

  .experience-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
