/* 전체! */
.profile {
  width: 100%;
  max-width: 1279px;
  background-color: #222;
  padding: 37px;
  margin: 0 auto;
  font-family: pretendard;
  box-sizing: border-box;
}

/* -------------박스 컬러----------------------- */
.introduction,
.experience-container,
.skills-container,
.hobbies,
.contact,
.education {
  background-color: #e7e2df;
}

/* ------------------상단 박스 --------------------*/
.introduction {
  display: grid;
  gap: 59px;
  width: 100%;
  grid-template-columns: minmax(293px, 330px) 1fr;
  padding: 30px 66px;
}

/* -------------프로필 사진------------------------- */
.my-profile {
  flex-shrink: 0;
}

.my-profile img {
  width: 100%;
  height: 100%;
}

.myname-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* ------------------이름 ------------------------*/
.myname-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myname {
  font-size: 65px;
  font-weight: 800;
  display: flex;
  gap: 3px;
  white-space: nowrap;
}

.myname::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 63px;
  margin: 5px 0 0 0;

  background-image: url("../img/Deco2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ----------------직업------------------------- */
.job-mbti-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px 0;
}

.frontend-wrap {
  padding: 8.5px 19px;
  border-radius: 26px;
  font-size: 16px;
  background-color: #222;
  color: white;
  font-weight: 300;
}

/* -------------------MBTI------------------------------- */
.mbti-wrap {
  font-size: 22px;
  font-weight: 500;
}

.introduce p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}

/* -------------------중앙 ------------------------------*/
.profile-mid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 32px;
}

/* ---------------제목---------------------------- */
.experience-title,
.skills-title,
.education-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
  color: transparent;
  -webkit-text-stroke: 1.5px #222;
  transition: all 0.7s;
  display: flex;
  gap: 3px;
  white-space: nowrap;
}

.experience-container:hover > .experience-title {
  color: #222;
  transition: all 0.3s;
}

.hobbies-title::after,
.contact-title::after {
  content: "";
  display: inline-block;
  width: 23px;
  height: 60px;
  background-image: url("../img/Deco.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 8px 0 0 1px;
}

.experience-title::after,
.skills-title::after,
.education-title::after {
  content: "";
  display: inline-block;
  width: 23px;
  height: 60px;
  background-image: url("../img/Deco.svg");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 3px 0 0 1px;
}

.experience-container,
.skills-container {
  padding: 33px;
}

/* ---------------연도 표기---------------------- */
.timeline {
  display: grid;
  gap: 30px;
}

.timeline-second {
  display: grid;
  row-gap: 80px;
}

.timeline-items {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 12px;
  align-items: start;
}

.timeline-period {
  padding: 8.5px 19px;
  border-radius: 26px;
  font-size: 16px;
  background-color: #222;
  color: white;
  font-weight: 200;
}

/*---------------- 본문 표기 ----------------------*/

.career-title {
  font-size: 21px;
  font-weight: 700;
  position: relative;
}

.career-title::before {
  content: "";
  width: 20px;
  height: 20px;
  left: -34px;
  position: absolute;
  background: center / 100% 100% no-repeat url("../img/star.svg");
}

.career-desc {
  font-size: 18px;
  font-weight: 400;
  padding: 14px 0;
  position: relative;
}

.career-desc::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #222;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}

/* ---------------스킬 -----------------*/
.skills-container {
  padding: 29px 38px;
}

.skills-container:hover > .skills-title {
  color: #222;
  transition: all 0.3s;
}

.skills-title {
  font-size: 40px;
  font-weight: 800;
}

.skills-subtitle {
  font-size: 16px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hard-list {
  margin: 18px 0 36px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.soft-list {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hard-list > li,
.soft-list > li {
  padding: 3px 15px;
  border-radius: 26px;
  font-size: 16px;
  border: 2px solid #222;
  font-weight: 600;
}

.hard-list > li:nth-child(2) {
  background-color: #222;
  color: white;
}

.hard-list > li:nth-child(3) {
  background-color: #222;
  color: white;
}

.hard-list > li:nth-child(4) {
  background-color: #222;
  color: white;
}
/* ----------------------하단----------------------- */
.profile-bottom {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

.hobbies,
.contact,
.education {
  padding: 33px;
}

.hobbies {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contact {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.education {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/* ---------------취미 ---------------------*/
.hobbies-title {
  font-size: 40px;
  font-weight: 800;
  color: transparent;
  margin-bottom: 15px;
  -webkit-text-stroke: 1.5px #222;
  transition: all 0.7s;
}

.hobbies:hover > .hobbies-title {
  color: #222;
  transition: all 0.3s;
}

.hobbies-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hobbies-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 300;
}

.hobbies-list img {
  width: 66px;
  height: 66px;
}

/* ----------------연락처--------------------- */
.contact-title {
  font-size: 40px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1.5px #222;
}

.contact:hover > .contact-title {
  color: #222;
  transition: all 0.3s;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-list > li {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 400;
}

.contact-list img {
  width: 30px;
  height: 30px;
}

/* ------------------- Education------------------- */
.education:hover > .education-title {
  color: #222;
  transition: all 0.3s;
}

.timeline-items-second {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 12px;
  align-items: start;
}
