/* ----------반응형 테블릿------------- */
@media screen and (max-width: 1279px) {
  .profile {
    max-width: 100%;
    width: 100%;
    padding: 25px;
    transition: all 0.3s;
  }

  .introduction {
    grid-template-columns: minmax(200px, 300px) 1fr;
    grid-template-rows: minmax(200px, 280px) 1fr;
    padding: 22px 20px;
    display: grid;
    gap: 20px;
    transition: all 0.3s;
  }

  .myname {
    font-size: 55px;
    font-weight: 800;
    transition: all 0.3s;
    padding-top: 28px;
  }

  .job-mbti-container {
    margin: 15px 0;
    transition: all 0.3s;
  }

  .frontend-wrap {
    font-size: 14px;
    transition: all 0.3s;
  }

  .mbti-wrap {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;
  }

  .profile-mid {
    grid-template-columns: 1fr;
    transition: all 0.3s;
  }

  .introduce p {
    margin: 15px 0 32px 0;
    font-size: 17px;
    transition: all 0.3s;
  }

  .timeline,
  .timeline-second {
    display: flex;
    transition: all 0.3s;
  }

  .timeline-second {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .timeline-items,
  .timeline-items-second {
    flex: 1;
  }

  .skills-wrap {
    display: flex;
    gap: 60px;
  }

  .profile-bottom {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    transition: all 0.3s;
  }

  .hobbies {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.3s;
  }

  .hobbies-list img {
    width: 60px;
    height: 60px;
    transition: all 0.3s;
  }

  .contact {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transition: all 0.3s;
  }

  .education {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    transition: all 0.3s;
  }
}

/* -------------반응형 핸드폰-------------- */
@media screen and (max-width: 768px) {
  .profile {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    padding: 36px 31px;
    transition: all 0.3s;
  }

  .myname-container {
    display: contents;
    transition: all 0.3s;
  }

  .myname-wrap {
    order: 1;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
  }

  .myname {
    font-size: 30px;
    transition: all 0.3s;
  }

  .myname::after {
    width: 18px;
    height: 48px;
    margin: 1px 0 0 0;
    transition: all 0.3s;
  }

  .my-profile {
    order: 2;
    transition: all 0.3s;
  }

  .job-mbti-container {
    order: 3;
    display: flex;
    gap: 30px;
    transition: all 0.3s;
  }

  .frontend-wrap {
    font-size: 12px;
    white-space: nowrap;
    padding: 6px 7px;

    transition: all 0.3s;
  }

  .mbti-wrap {
    font-size: 13px;
    white-space: nowrap;
    transition: all 0.3s;
  }

  .introduce {
    order: 4;
    transition: all 0.3s;
    transition: all 0.3s;
  }

  .introduce p {
    font-size: 16px;
    transition: all 0.3s;
  }

  .profile-mid {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 0.3s;
  }

  .timeline {
    display: grid;
    transition: all 0.3s;
  }

  .timeline-items {
    display: grid;
    grid-template-columns: 115px 1fr;
    transition: all 0.3s;
  }

  .experience-container,
  .skills-container {
    padding: 15px;
    margin: 0 auto;
    transition: all 0.3s;
  }

  .career-title {
    font-size: 15px;
    transition: all 0.3s;
  }

  .career-desc {
    font-size: 12px;
    transition: all 0.3s;
  }

  .timeline-period {
    font-size: 12px;
    padding: 5px 10px;
    transition: all 0.3s;
  }

  .experience-title,
  .skills-title,
  .education-title,
  .hobbies-title,
  .contact-title {
    font-size: 30px;
    margin-bottom: 10px;
    transition: all 0.3s;
  }

  .profile-bottom {
    display: grid;
    grid-template-columns: 1fr;
    transition: all 0.3s;
  }

  .hobbies,
  .contact,
  .education {
    grid-column: auto;
    grid-row: auto;
    padding: 15px;
    transition: all 0.3s;
  }

  .timeline-second {
    display: grid;
    transition: all 0.3s;
  }

  .timeline-items-second {
    display: grid;
    grid-template-columns: 115px 1fr;
    transition: all 0.3s;
  }

  .skills-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
  }

  .hard-list {
    margin: 18px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    transition: all 0.3s;
  }

  .hobbies-title::after,
  .contact-title::after {
    width: 18px;
    height: 46px;
    transition: all 0.3s;
  }

  .experience-title::after,
  .skills-title::after,
  .education-title::after {
    margin: 2px 0 0 0;
    width: 18px;
    height: 46px;
    transition: all 0.3s;
  }

  .hobbies-list img {
    width: 46px;
    height: 46px;
    transition: all 0.3s;
  }

  .hobbies-list > li {
    font-size: 17px;
    font-weight: 300;
    transition: all 0.3s;
  }

  .contact-list > li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s;
  }

  .contact-list > li > a {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-weight: 400;
  }

  .career-desc::before {
    content: "";
    width: 1px;
    height: 85%;
    background-color: #222;
    position: absolute;
    top: 50%;
    left: -25px;
    transition: all 0.3s;
  }

  .career-title::before {
    width: 18px;
    height: 18px;
    left: -33px;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 373px) {
  .hobbies-list > li img {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
  }

  .hobbies-list > li {
    font-size: 15px;
    font-weight: 300;
  }

  .contact-list > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
  }

  .career-title::before {
    width: 17px;
    height: 17px;
    transition: all 0.3s;
  }
}
